/**

https://dev.fitbit.com/build/guides/user-interface/css/#fitbit-named-colors

*/


#right text {
  font-family: "Colfax-Regular";
}

#left text {
  font-family: "Seville-Bold-Condensed";
}


#bg {
  /* Squircles are the worst to design for, so zoom in a little to be more like a square */
  width: 96%;
  height: 96%;

  x: 2%;
  y: 2%;
}

image {
  /* all icons are 32x32 px */
  width: 32;
  height: 32;
}

#right image {
  /* 48 = 32 (image width) + 32/2 (padding right) */
  x: 100%-48;
}

#right text {
  /* 64 = 32 (image width) + 32/2 (padding left) + 32/2 (padding right) */
  width: 100%-64;
}


#left {
  /* 50% (half screen) - 4% (padding left) - 1% (padding right) */
  width: 45%;

  /* 100% (entire screen) - 10% (padding top) - 5% (padding bottom) */
  height: 85%;

  /* 4% (padding left) */
  x: 4%;

  /* 5% (padding top) */
  y: 10%;
}

#right {
  /* 50% (half screen) - 1% (padding left) - 1% (padding right) */
  width: 48%;

  /* 100% (entire screen) - 5% (padding top) - 5% (padding bottom) */
  height: 90%;

  /* 50% (half screen) + 1% (padding left) */
  x: 51%;

  /* 5% (padding top) */
  y: 5%;
}

/* Time */

.time {
  height: 30%;
  width: 100%;

  x: 0;
  y: 0;
}

#hour {
  x: 30%;
  y: 50%;

  text-length: 2;
  text-anchor: end;
  font-size: 50;
  fill: fb-pink;
}

#minute {
  x: 72%;
  y: 50%;

  text-length: 2;
  text-anchor: end;
  font-size: 50;
  fill: fb-orange;
}

#second {
  x: 100%;
  y: 50%;

  text-length: 2;
  text-anchor: end;
  font-size: 30;
  fill: fb-pink;
}

/* Date */

.date {
  height: 30%;
  width: 100%;

  x: 0;
  y: 30%;
}

#weekday {
  x: 30%;
  y: 40%;

  /* dd */
  text-length: 2;
  text-anchor: end;
  font-size: 50;
  fill: fb-pink; 
}

#day {
  x: 72%;
  y: 40%;

  /* DD */
  text-length: 2;
  text-anchor: end;
  font-size: 50;
  fill: fb-orange;
}

#monthyear {
  x: 100%;
  y: 70%;

  /* MMM YYYY */
  text-length: 8;
  text-anchor: end;
  font-size: 20;
  fill: fb-pink;
}

/* Active */

.active {
  height: 40%;
  width: 100%;

  x: 0;
  y: 60%;
}

.active image {
  width: 24;
  height: 24;
}


#active_fat {
  x: 20%;
  y: 25%;

  text-length: 3;
  text-anchor: start;
  font-size: 24;
  fill: fb-white;
}
#active_fat_image {
  x: 0%;
  y: 0%;
}

#active_cardio {
  x: 70%;
  y: 25%;

  text-length: 3;
  text-anchor: start;
  font-size: 24;
  fill: fb-white;
}
#active_cardio_image {
  x: 50%;
  y: 0%;
}

#active_peak {
  x: 20%;
  y: 75%;

  text-length: 3;
  text-anchor: start;
  font-size: 24;
  fill: fb-white;
}
#active_peak_image {
  x: 0%;
  y: 50%;
}

#active_total {
  x: 70%;
  y: 75%;

  text-length: 3;
  text-anchor: start;
  font-size: 24;
  fill: fb-white;
}
#active_total_image {
  x: 50%;
  y: 50%;
}


/* Battery */

.battery {
  height: 25%;
  width: 100%;

  x: 5;
  y: 0;
}
.battery text {
  width: 100%-64;
}
#battery {
  x: 100%-64;
  y: 30;

  /* ### */
  text-length: 3;
  text-anchor: end;
  fill: fb-white;
  font-size: 36;
}

/* BPM */

.bpm {
  height: 25%;
  width: 100%;

  x: 5;
  y: 25%;
}
#bpm {
  x: 100%-64;
  y: 30;

  /* ### */
  text-length: 3;
  text-anchor: end;
  fill: fb-white;
  font-size: 36;
}

/* Steps */

.steps {
  height: 25%;
  width: 100%;

  x: 5;
  y: 50%;
}
#steps_step {
  x: 100%-64;
  y: 20%;

  /* ###### */
  text-length: 6;
  text-anchor: end;
  fill: fb-white;
  font-size: 30;
}
#steps_km {
  x: 100%-64;
  y: 60%;

  /* ### km */
  text-length: 6;
  text-anchor: end;
  fill: fb-white;
  font-size: 30;
}


/* Sync */

.sync {
  height: 25%;
  width: 100%;

  x: 5;
  y: 75%;
}
#sync {
  x: 100%-64;
  y: 30;

  /* ##[smhd] */
  text-length: 3;
  text-anchor: end;
  fill: fb-white;
  font-size: 36;
}
