/** Positioning **/

#bg {
  /* Squircles are the worst to design for, so pretend we're a square */

  width: 96%;
  height: 96%;

  x: 2%;
  y: 2%;
}

image {
  width: 32;
  height: 32;

  y: 0;
}

#left image {
  /* 48 = 32 + 32/2 */
  x: 100%-48;
}

#left {
  width: 48%;
  height: 85%; /* 100% - 15% */

  x: 2%;
  y: 0;
}

#right {
  width: 48%;
  height: 85%; /* 100% - 15% */

  x: 52%;
  y: 0;
}

#bottom {
  width: 100%;
  height: 15%;

  x: 0;
  y: 90%; /* 100% - 15% + (line = 5%) */
}


.time {
  height: 50%;
  width: 95%;

  x: 0;
  y: 0;
}

.date {
  height: 50%;
  width: 95%;

  x: 0;
  y: 50%;
}


#hour {
  x: 50%;
  y: 50%;

  text-length: 3;
  text-anchor: end;
}

#minute {
  x: 100%;
  y: 50%;

  text-length: 3;
  text-anchor: end;
}

#second {
  x: 100%;
  y: 75%;

  text-length: 2;
  text-anchor: end;
}

#day {
  x: 50%;
  y: 25%;

  /* DD */
  text-length: 2;
  text-anchor: end;
}

#month {
  x: 100%;
  y: 25%;

  /* MMM */
  text-length: 3;
  text-anchor: end;
}

#datesub { fill: fb-light-gray; }
#weekday {
  x: 50%;
  y: 75%;

  /* K** */
  text-length: 3;
  text-anchor: end;
}

#datesubtop {
  x: 100%;
  y: 50%;

  /* MM 'YY */
  text-length: 6;
  text-anchor: end;
}
#datesubbot {
  x: 100%;
  y: 75%;

  /* F**U** WD */
  text-length: 9;
  text-anchor: end;
}


.battery {
  height: 25%;
  width: 100%;

  x: 5;
  y: 0;
}

.bpm {
  height: 25%;
  width: 100%;

  x: 5;
  y: 20%;
}

.hpa {
  height: 25%;
  width: 100%;

  x: 5;
  y: 40%;
}

.steps {
  height: 25%;
  width: 100%;

  x: 5;
  y: 60%;
}

.floors {
  height: 25%;
  width: 100%;

  x: 5;
  y: 80%;
}


#battery {
  x: 100%-64;
  y: 30;

  text-length: 3;
  text-anchor: end;
}

#bpm {
  x: 100%-64;
  y: 30;

  text-length: 3;
  text-anchor: end;
}

#hpa {
  x: 100%-64;
  y: 30;

  text-length: 10;
  text-anchor: end;
}

#steps {
  x: 100%-64;
  y: 30;

  text-length: 6;
  text-anchor: end;
}

#floors {
  x: 100%-64;
  y: 30;

  text-length: 3;
  text-anchor: end;
}



#info {
  font-size: 25;

  height: 100%;
  width: 100%;
  x: 0;
  y: 0;
}

#info_left {
  width: 50%;
  height: 100%;
  x: 25%;
  y: 0;

  text-length: 25;
  text-anchor: middle;
}

#info_right {
  width: 50%;
  height: 100%;
  x: 75%;
  y: 0;

  text-length: 25;
  text-anchor: middle;
}


/** Fonts **/

#weekday {
  font-size: 50;
  font-family: 'Colfax-Regular';
}

#left text {
  font-family: "Colfax-Regular";
  font-size: 36;
}

.time text {
  font-family: "Seville-Bold-Condensed";
  font-size: 65;
}

.date text {
  font-family: "Seville-Bold-Condensed";
  font-size: 45;
}

#second {
  font-size: 25;
}

#datesubtop {
  font-size: 20;
}
#datesubbot {
  font-size: 20;
}


/** Colors **/

#info_left { fill: fb-light-gray; }
#info_right { fill: fb-white; }

#hour { fill: fb-slate; }
#minute { fill: fb-purple; }
#second { fill: fb-light-gray; }

#day { fill: fb-slate; }
#month { fill: fb-purple; }
#datesubtop { fill: fb-light-gray; }
#datesubbot { fill: fb-purple; }

#weekday { fill: fb-slate; }

/* These are just the texts - the icons are painted in index.view */
#battery { fill: fb-white; }
#bpm { fill: fb-white; }
#hpa { fill: fb-white; }
#steps { fill: fb-white; }
#floors { fill: fb-white; }

